@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Passwords</a>
        </div>
      </div>
    </div>
    <div id="search-region" class="container"></div>
    <div id="results-region" class="container"></div>

    <script type="text/template"id="user-search-template">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Username:</label>
          <div class="controls">
            <input type="text" name="username">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Current password:</label>
          <div class="controls">
            <input type="password" name="current_password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">New password:</label>
          <div class="controls">
            <input type="password" name="new_password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Confirm password:</label>
          <div class="controls">
            <input type="password" name="confirm_password">
          </div>
        </div>
      </form>
    </script>

    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/require-config").url)
  </body>
</html>
